<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="numberGeneratorId" class="org.lakhara.NumberGeneratorImpl" />

<!--    init-method="reset" to call game.reset() during init -->
    <bean id="game" class="org.lakhara.GameImpl" >
<!--        Following is config for constructor based DI -->
<!--        <constructor-arg ref="numberGeneratorId" />-->

<!--        Commented out, as it became obsolete with Autowiring -->
<!--        <property name="numberGenerator" ref="numberGeneratorId" />-->
    </bean>


<!--    Following is config for using common annotations like preDestroy and postConstruct -->
<!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->

</beans>